:root {
  --background-color: #010012;
  --background-nav-color: #01001294;
  /* cores fonte */
  --font-color-white: #fff;
}

body {
  /* background-color: var(--background-color); */
  background-color: var(--font-color-white);
  color: var(--font-color-white);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
}
a {
  color: var(--font-color-white);
}
